/AcademicVisitServer/.vs/AcademicVisitServer/v17/
/AcademicVisitServer/AcademicVisitServer/bin/Debug/net6.0/
/AcademicVisitServer/AcademicVisitServer/obj/
/AcademicVisitServer/.vs/AcademicVisitServer/DesignTimeBuild/.dtbcache.v2
/AcademicVisitUI/package-lock.json
/AcademicVisitServer/AcademicVisitServer/obj/Debug/net6.0/project.razor.json
/AcademicVisitServer/.vs/AcademicVisitServer/v17/.futdcache.v1
/AcademicVisitServer/AcademicVisit.Data/bin/
/AcademicVisitServer/AcademicVisit.Data/Migrations/
/AcademicVisitServer/AcademicVisit.Data/obj/
/AcademicVisitServer/AcademicVisitServer/bin/Debug/
/AcademicVisitServer/AcademicVisit.Data/obj/Debug/net6.0/AcademicVisit.Data.csproj.BuildWithSkipAnalyzers
/AcademicVisitServer/AcademicVisitServer/bin/Debug/net6.0/
/AcademicVisitServer/.vs/AcademicVisitServer/FileContentIndex/89c35ce0-93c6-4035-bb7d-16dfbc5ba4ae.vsidx
/AcademicVisitServer/.vs/AcademicVisitServer/FileContentIndex/read.lock
/AcademicVisitServer/.vs/AcademicVisitServer/v17/.futdcache.v2
/AcademicVisitServer/.vs/ProjectEvaluation/academicvisitserver.metadata.v5.2
/AcademicVisitServer/.vs/ProjectEvaluation/academicvisitserver.projects.v5.2
/AcademicVisitServer/AcademicVisitServer/obj/Debug/net6.0/
/AcademicVisitServer/.vs/AcademicVisitServer/FileContentIndex/61bb7dcc-34fd-4959-864e-f1e73b42eaa3.vsidx
/AcademicVisitServer/.vs/AcademicVisitServer/FileContentIndex/42a07b61-90a8-43f0-99a2-be563883b4fa.vsidx
/AcademicVisitServer/.vs/AcademicVisitServer/FileContentIndex/a5e57e4f-8fd6-4984-aa85-ec482037ed8e.vsidx
/AcademicVisitServer/.vs/AcademicVisitServer/FileContentIndex/cd2bce6f-16fb-4879-be73-0bf7b9e19349.vsidx
/AcademicVisitServer/.vs/AcademicVisitServer/FileContentIndex/ee5e1178-2dd7-4340-a9fe-a51035187c83.vsidx
/AcademicVisitServer/AcademicVisit.Data/Migrations/20230114225903_ForUserInfo.cs
/AcademicVisitServer/AcademicVisit.Data/Migrations/20230114225903_ForUserInfo.Designer.cs
/AcademicVisitServer/.vs/AcademicVisitServer/FileContentIndex/c90caa39-7851-4d96-aa0a-41aaa662626c.vsidx
/AcademicVisitServer/.vs/AcademicVisitServer/FileContentIndex/da355a29-94c4-4a08-8741-4e47bd2a29a2.vsidx
/AcademicVisitServer/.vs/AcademicVisitServer/FileContentIndex/e5b25648-c236-4332-b7fa-584c9aff9f42.vsidx
/AcademicVisitServer/.vs/AcademicVisitServer/FileContentIndex/f27aca56-f13e-49e6-8c35-f3105c08c2f2.vsidx
/AcademicVisitServer/AcademicVisitServer/bin/Debug/net6.0/
/AcademicVisitServer/.vs/AcademicVisitServer/FileContentIndex/35b669f8-91e3-457c-9dfd-77e0c5b08383.vsidx
/AcademicVisitServer/.vs/AcademicVisitServer/FileContentIndex/64cea443-3dbc-4e76-ba91-933a208ad709.vsidx
/AcademicVisitServer/.vs/AcademicVisitServer/FileContentIndex/8f4eda56-2068-4f1d-9cb7-21e7eb1ffc45.vsidx
/AcademicVisitServer/.vs/AcademicVisitServer/FileContentIndex/bc8e9dd9-7c1a-40d0-8224-fcaf5062ca0b.vsidx
/AcademicVisitServer/AcademicVisitServer/obj/Release/net6.0/
/AcademicVisitServer/AcademicVisit.Data/Migrations/20230309110026_includeSearch.Designer.cs
/AcademicVisitServer/.vs/AcademicVisitServer/FileContentIndex/dcba28de-6410-4df9-8f21-55b989476e71.vsidx
/AcademicVisitServer/AcademicVisit.Data/obj/Release/net6.0/
/AcademicVisitServer/.vs/slnx.sqlite
/AcademicVisitServer/.vs/ProjectEvaluation/academicvisitserver.metadata.v7.bin
/AcademicVisitServer/.vs/ProjectEvaluation/academicvisitserver.projects.v7.bin
/AcademicVisitServer/.vs/VSWorkspaceState.json
