/AcademicVisitServer/.vs/AcademicVisitServer/v17/.suo
/AcademicVisitServer/AcademicVisitServer/bin/Debug/net6.0/AcademicVisitServer.deps.json
/AcademicVisitServer/AcademicVisitServer/bin/Debug/net6.0/AcademicVisitServer.dll
/AcademicVisitServer/AcademicVisitServer/bin/Debug/net6.0/AcademicVisitServer.exe
/AcademicVisitServer/AcademicVisitServer/bin/Debug/net6.0/AcademicVisitServer.pdb
/AcademicVisitServer/AcademicVisitServer/bin/Debug/net6.0/AcademicVisitServer.runtimeconfig.json
/AcademicVisitServer/AcademicVisitServer/bin/Debug/net6.0/appsettings.Development.json
/AcademicVisitServer/AcademicVisitServer/bin/Debug/net6.0/appsettings.json
/AcademicVisitServer/AcademicVisitServer/bin/Debug/net6.0/Microsoft.OpenApi.dll
/AcademicVisitServer/AcademicVisitServer/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
/AcademicVisitServer/AcademicVisitServer/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/AcademicVisitServer/AcademicVisitServer/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/AcademicVisitServer/AcademicVisitServer/obj/AcademicVisitServer.csproj.nuget.dgspec.json
/AcademicVisitServer/AcademicVisitServer/obj/AcademicVisitServer.csproj.nuget.g.props
/AcademicVisitServer/AcademicVisitServer/obj/AcademicVisitServer.csproj.nuget.g.targets
/AcademicVisitServer/AcademicVisitServer/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/AcademicVisitServer/AcademicVisitServer/obj/Debug/net6.0/AcademicVisitServer.AssemblyInfo.cs
/AcademicVisitServer/AcademicVisitServer/obj/Debug/net6.0/AcademicVisitServer.AssemblyInfoInputs.cache
/AcademicVisitServer/AcademicVisitServer/obj/Debug/net6.0/AcademicVisitServer.assets.cache
/AcademicVisitServer/AcademicVisitServer/obj/Debug/net6.0/AcademicVisitServer.csproj.AssemblyReference.cache
/AcademicVisitServer/AcademicVisitServer/obj/Debug/net6.0/AcademicVisitServer.csproj.BuildWithSkipAnalyzers
/AcademicVisitServer/AcademicVisitServer/obj/Debug/net6.0/AcademicVisitServer.csproj.CopyComplete
/AcademicVisitServer/AcademicVisitServer/obj/Debug/net6.0/AcademicVisitServer.csproj.CoreCompileInputs.cache
/AcademicVisitServer/AcademicVisitServer/obj/Debug/net6.0/AcademicVisitServer.csproj.FileListAbsolute.txt
/AcademicVisitServer/AcademicVisitServer/obj/Debug/net6.0/AcademicVisitServer.dll
/AcademicVisitServer/AcademicVisitServer/obj/Debug/net6.0/AcademicVisitServer.GeneratedMSBuildEditorConfig.editorconfig
/AcademicVisitServer/AcademicVisitServer/obj/Debug/net6.0/AcademicVisitServer.genruntimeconfig.cache
/AcademicVisitServer/AcademicVisitServer/obj/Debug/net6.0/AcademicVisitServer.GlobalUsings.g.cs
/AcademicVisitServer/AcademicVisitServer/obj/Debug/net6.0/AcademicVisitServer.MvcApplicationPartsAssemblyInfo.cache
/AcademicVisitServer/AcademicVisitServer/obj/Debug/net6.0/AcademicVisitServer.MvcApplicationPartsAssemblyInfo.cs
/AcademicVisitServer/AcademicVisitServer/obj/Debug/net6.0/AcademicVisitServer.pdb
/AcademicVisitServer/AcademicVisitServer/obj/Debug/net6.0/apphost.exe
/AcademicVisitServer/AcademicVisitServer/obj/Debug/net6.0/ref/AcademicVisitServer.dll
/AcademicVisitServer/AcademicVisitServer/obj/Debug/net6.0/refint/AcademicVisitServer.dll
/AcademicVisitServer/AcademicVisitServer/obj/Debug/net6.0/staticwebassets.build.json
/AcademicVisitServer/AcademicVisitServer/obj/project.assets.json
/AcademicVisitServer/AcademicVisitServer/obj/project.nuget.cache
/AcademicVisitServer/AcademicVisitServer/obj/staticwebassets.pack.sentinel
/AcademicVisitServer/.vs/AcademicVisitServer/DesignTimeBuild/.dtbcache.v2
/AcademicVisitUI/package-lock.json
/AcademicVisitServer/AcademicVisitServer/obj/Debug/net6.0/project.razor.json
/AcademicVisitServer/.vs/AcademicVisitServer/v17/.futdcache.v1
